<template>
	<div>
		<Sidenav></Sidenav>
		<div class="main-content">
			<NavbarAdmin></NavbarAdmin>
			<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
				<div class="container-fluid">
					<h1 class="display-2 text-white">Argo</h1>
				</div>
			</div>

			<div class="container-fluid mt--7 mb-5" style="z-index:0">
				<!-- Table -->
				<div class="row">
					<div class="col-xl-8 order-xl-1">
						<div class="card bg-secondary shadow">
							<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
							<div class="card-header bg-white border-0">
								<div class="row align-items-center">
									<div class="col-8">
										<h3 class="mb-0">Detail Transportasi</h3>
									</div>
									<div class="col-4 text-right">
										<button @click="onCreateTransportation" class="btn btn-primary">Buat Transportasi</button>
									</div>
								</div>
							</div>
							<div class="card-body">
								<form>
									<h6 class="heading-small text-muted mb-4">Informasi Transportasi</h6>
									<div class="pl-lg-4">
										<div class="row">
											<div class="col-lg-6 col-12">
												<div class="form-group">
													<label class="form-control-label" for="input-departure-time">Nama Transportasi</label>
													<input type="text" class="form-control form-control-alternative" v-model="transportation.name">
												</div>
											</div>
											<div class="col-lg-6 col-12">
												<div class="form-group">
													<label class="form-control-label" for="input-arrival-time">Tipe Transportasi</label>
													<select class="form-control form-control-alternative" v-model="transportation.type">
														<option value="Train">Kereta</option>
														<option value="Plane">Pesawat</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-12">
												<div class="form-group">
													<label class="form-control-label" for="input-price">Pilih Category</label>
													<select class="form-control form-control-alternative" v-model="transportation.class">
														<option class="A">A</option>
														<option class="B">B</option>
														<option class="C">C</option>
													</select>
												</div>
											</div>
											<div class="col-lg-6 col-12">
												<div class="form-group">
													<label class="form-control-label" for="input-price">Pilih Kelas</label>
													<select class="form-control form-control-alternative" v-model="transportation.category_id">
														<option v-for="item, key in listCategory" :value="item.id">{{ item.name }}</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Sidenav from '@/components/Sidenav'
	import NavbarAdmin from '@/components/NavbarAdmin'
	import http from '../../../http'
	import datetime from 'vuejs-datetimepicker'

	export default{
		name: "UpdateTransportation",
		components: {
			Sidenav, NavbarAdmin, datetime
		},
		data(){
			return {
				transportation: {
					name: '',
					class: '',
					type: '',
					category_id: ''
				},
				listCategory: [],
				isLoading: false
			}
		},
		mounted(){
			this.getCategory()
		},
		methods: {
			getCategory(){
				this.isLoading = true
				http.get("admin/category/get/all")
				.then((res) => {
					this.listCategory = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					console.log(err)
					this.isLoading = false
				})
			},
			onCreateTransportation(){
				this.isLoading = true
				http.post("admin/transportation/create", this.transportation)
				.then((res) => {
					this.$router.push({name:'admin.transportation'})
				})
				.catch((err) => {
					console.log(err)
				})
			}
		}
	}
</script>