<template>
	<div>
		<Sidenav></Sidenav>
		<!-- Main content -->
		<div class="main-content">
			<NavbarAdmin></NavbarAdmin>
			<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
				<div class="container-fluid">
					<h1 class="display-2 text-white">Daftar Transportasi</h1>
					<router-link :to="{name: 'admin.transportation.create'}" class="btn btn-secondary">Tambah Transportasi</router-link>
					<br>
					<br>
					<button @click="getTransportation" class="btn btn-sm btn-secondary">Refresh</button>
				</div>
			</div>
			<div class="container-fluid mt--7 mb-5" style="z-index:0">
				<!-- Table -->
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
							<div class="card-header border-0">
								<h3 class="mb-0">List Transportasi</h3>
							</div>
							<div class="table-responsive">
								<table id="table1" class="table align-items-center table-flush">
									<thead class="thead-light">
										<tr>
											<th scope="col">Nama Transportasi</th>
											<th scope="col">Jenis Transportasi</th>
											<th scope="col">Class</th>
											<th scope="col">Category</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="item,key in transportation.data">
											<th scope="row">
												<span class="font-weight-bold text-success">{{ item.name }}</span>
											</th>
											<td>
												<span class="font-weight-bold text-warning">{{ item.type }}</span>
											</td>
											<td>
												<span class="font-weight-bold">{{ item.class }}</span>
											</td>
											<td>
												<span class="badge badge-dot mr-4">
													{{ item.category.name }}
												</span>
											</td>
											<td class="text-right">
												<div class="dropdown">
													<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fas fa-ellipsis-v"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
														<router-link :to="{name: 'admin.transportation.update', params:{id:item.id}}" class="dropdown-item">Update</router-link>
														<a href="javascript:void(0)" @click="onDeleteTransportation(item.id)" class="dropdown-item">Hapus</a>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer py-4">
								<nav aria-label="...">
									<ul class="pagination justify-content-end mb-0">
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">
												<i class="fas fa-angle-left"></i>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										<li class="page-item active">
											<a class="page-link" href="#">1</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
										</li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#">
												<i class="fas fa-angle-right"></i>
												<span class="sr-only">Next</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Sidenav from '@/components/Sidenav'
	import NavbarAdmin from '@/components/NavbarAdmin'
	import http from '../../../http'

	export default {
		name: 'ListTransportation',
		components:{
			Sidenav, NavbarAdmin
		},
		data(){
			return {
				transportation: [],
				isLoading: false
			}
		},
		mounted(){
			this.getTransportation()
		},
		methods:{
			getTransportation(){
				http.get('admin/transportation/list')
				.then((res) => {
					this.transportation = res.data.data
				})
				.catch((err) => {
					console.log(err)
				})
			},
			onDeleteTransportation(id){
				http.get("admin/transportation/destroy/" + id)
				.then((res) => {
					this.getTransportation();
				})
				.catch((err) => {
					console.log(err)
				})
			}
		}
	}
</script>