<template>
	<div>
		<Sidenav></Sidenav>
		<!-- Main content -->
		<div class="main-content">
			<NavbarAdmin></NavbarAdmin>
			<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
				<div class="container-fluid">
					<h1 class="display-2 text-white">Daftar Jadwal</h1>
					<router-link :to="{name: 'admin.schedule.create'}" class="btn btn-secondary">Tambah Jadwal</router-link>
					<br>
					<br>
					<button @click="getSchedule" class="btn btn-sm btn-secondary">Refresh</button>
				</div>
			</div>
			<div class="container-fluid mt--7 mb-5" style="z-index:0">
				<!-- Table -->
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
							<div class="card-header border-0">
								<h3 class="mb-0">List Jadwal</h3>
							</div>
							<div class="table-responsive">
								<table id="table1" class="table align-items-center table-flush">
									<thead class="thead-light">
										<tr>
											<th scope="col">Dari Lokasi</th>
											<th scope="col">Ke Lokasi</th>
											<th scope="col">Transportasi</th>
											<th scope="col">Jenis</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="item, key in schedule.data">
											<th scope="row">
												<span class="font-weight-bold text-success">{{ item.route.from_place }}</span>
											</th>
											<td>
												<span class="font-weight-bold text-warning">{{ item.route.to_place }}</span>
											</td>
											<td>
												<span class="font-weight-bold">{{ item.transportation.name }}</span>
											</td>
											<td>
												<span class="badge badge-dot mr-4">
													{{ item.transportation.type }}
												</span>
											</td>
											<td class="text-right">
												<div class="dropdown">
													<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fas fa-ellipsis-v"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
														<a @click="getDetailSchedule(item.id)" href="javascript:void(0)" class="dropdown-item">Lihat Detail</a>
														<router-link :to="{name: 'admin.schedule.update', params:{id:item.id}}" class="dropdown-item">Update Jadwal</router-link>
														<a class="dropdown-item">Hapus</a>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer py-4">
								<nav aria-label="...">
									<ul class="pagination justify-content-end mb-0">
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">
												<i class="fas fa-angle-left"></i>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										<li class="page-item active">
											<a class="page-link" href="#">1</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
										</li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#">
												<i class="fas fa-angle-right"></i>
												<span class="sr-only">Next</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- modal -->
		<!-- Modal -->
		<div class="modal fade bd-example-modal-lg" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Detail Jadwal</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
						<form>
							<h6 class="heading-small text-muted mb-4">Informasi Jadwal</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label class="form-control-label" for="input-departure-time">Waktu keberangkatan</label>
											<datetime format="YYYY-MM-DD H:i:s" class="form-control form-control-alternative" v-model="detailSchedule.departure_time" readonly></datetime>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label class="form-control-label" for="input-arrival-time">Waktu tiba</label>
											<datetime format="YYYY-MM-DD H:i:s" class="form-control form-control-alternative" v-model="detailSchedule.arrived_time" readonly></datetime>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-12">
										<div class="form-group">
											<label class="form-control-label" for="input-price">Harga</label>
											<input type="number" id="input-price" class="form-control form-control-alternative" v-model="detailSchedule.price" readonly>
										</div>
									</div>
								</div>
							</div>
							<hr class="my-4" />
							<!-- Address -->
							<h6 class="heading-small text-muted mb-4">Informasi rute</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-control-label" for="input-address">Dari Lokasi</label>
											<input type="text" class="form-control form-control-alternative" v-model="detailSchedule.route.from_place" readonly>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-control-label" for="input-address">Ke Lokasi</label>
											<input type="text" class="form-control form-control-alternative" v-model="detailSchedule.route.to_place" readonly>
										</div>
									</div>
								</div>
							</div>
							<hr class="my-4" />
							<!-- Description -->
							<h6 class="heading-small text-muted mb-4">Informasi Transportasi</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-md-6">
										<label>Transportation</label>
										<input type="text" class="form-control form-control-alternative" v-model="detailSchedule.transportation.name" readonly>
									</div>
									<div class="col-md-6">
										<label>Jenis</label>
										<input type="text" class="form-control form-control-alternative" v-model="detailSchedule.transportation.type" readonly>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Sidenav from '@/components/Sidenav'
	import NavbarAdmin from '@/components/NavbarAdmin'
	import http from '../../../http'
	import datetime from 'vuejs-datetimepicker'

	export default {
		name: "ListSchedule",
		components: {
			Sidenav, NavbarAdmin, datetime
		},
		data(){
			return {
				schedule: [],
				isLoading: false,
				detailSchedule: {
					departure_time: '',
					arrived_time: '',
					price: '',
					route:{
						from_place: '',
						to_place: '',
					},
					transportation: {
						name: '',
						type: ''
					}
				}
			}
		},
		mounted(){
			this.getSchedule()
		},
		methods: {
			getSchedule(){
				this.isLoading = true
				http.get("admin/schedule/list")
				.then((res) => {
					console.log(res.data)
					this.schedule = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 500) {
							console.log("looks like something went wrong")
						}
					}
					this.isLoading = false
				})
			},
			getDetailSchedule(id){
				this.isLoading = true
				http.get("admin/schedule/detail/" + id)
				.then((res) => {
					this.detailSchedule = res.data.data
					this.isLoading = false
					$('#modalDetail').modal('show')
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.statu == 404) {
							console.log("Data not found")
						}
					}
					this.isLoading = false
				})
			}
		}
	}
</script>