<template>
	<div>
		<Sidenav></Sidenav>
		<div class="main-content">
			<NavbarAdmin></NavbarAdmin>
			<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
				<div class="container-fluid">
					<h1 class="display-2 text-white">Jadwal</h1>
				</div>
			</div>

			<div class="container-fluid mt--7 mb-5" style="z-index:0">
				<!-- Table -->
				<div class="row">
					<div class="col-xl-8 order-xl-1">
						<div class="card bg-secondary shadow">
							<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
							<div class="card-header bg-white border-0">
								<div class="row align-items-center">
									<div class="col-8">
										<h3 class="mb-0">Detail Jadwal</h3>
									</div>
									<div class="col-4 text-right">
										<button @click="onUpdateSchedule" class="btn btn-primary">Update jadwal</button>
									</div>
								</div>
							</div>
							<div class="card-body">
								<form>
									<h6 class="heading-small text-muted mb-4">Informasi Jadwal</h6>
									<div class="pl-lg-4">
										<div class="row">
											<div class="col-lg-6 col-12">
												<div class="form-group">
													<label class="form-control-label" for="input-departure-time">Waktu keberangkatan</label>
													<datetime format="YYYY-MM-DD H:i:s" class="form-control form-control-alternative" v-model="schedule.departure_time"></datetime>
												</div>
											</div>
											<div class="col-lg-6 col-12">
												<div class="form-group">
													<label class="form-control-label" for="input-arrival-time">Waktu tiba</label>
													<datetime format="YYYY-MM-DD H:i:s" class="form-control form-control-alternative" v-model="schedule.arrived_time"></datetime>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-12">
												<div class="form-group">
													<label class="form-control-label" for="input-price">Harga</label>
													<input type="number" id="input-price" class="form-control form-control-alternative" v-model="schedule.price">
												</div>
											</div>
										</div>
									</div>
									<hr class="my-4" />
									<!-- Address -->
									<h6 class="heading-small text-muted mb-4">Informasi rute</h6>
									<div class="pl-lg-4">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label" for="input-address">Pilih Rute Perjalanan</label>
													<select class="form-control form-control-alternative" v-model="schedule.route_id">
														<option v-for="item, key in listRoutes" :value="item.id">{{ item.from_place + " KE " + item.to_place}}</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<hr class="my-4" />
									<!-- Description -->
									<h6 class="heading-small text-muted mb-4">Informasi Transportasi</h6>
									<div class="pl-lg-4">
										<div class="nav-wrapper">
											<ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
												<li class="nav-item">
													<a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-cloud-upload-96 mr-2"></i>Kereta</a>
												</li>
												<li class="nav-item">
													<a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bell-55 mr-2"></i>Pesawat</a>
												</li>
											</ul>
										</div>
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
												<div class="form-group">
													<label>Pilih Jenis Kereta</label>
													<select class="form-control form-control-alternative" v-model="schedule.transportation_id">
														<option v-for="item, key in listTransportations.train" :value="item.id">{{ item.name + " (" + item.category.name + ")"}}</option>
													</select>
												</div>
											</div>
											<div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
												<div class="form-group">
													<label>Pilih Jenis Kereta</label>
													<select class="form-control form-control-alternative" v-model="schedule.transportation_id">
														<option v-for="item, key in listTransportations.plane" :value="item.id">{{ item.name + " (" + item.category.name + ")"}}</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Sidenav from '@/components/Sidenav'
	import NavbarAdmin from '@/components/NavbarAdmin'
	import http from '../../../http'
	import datetime from 'vuejs-datetimepicker'

	export default {
		name: "DetailSchedule",
		components: {
			Sidenav, NavbarAdmin, datetime
		},
		data(){
			return {
				schedule: {},
				listRoutes: [],
				listTransportations: {
					train: [],
					plane: []
				},
				isLoading: false
			}
		},
		mounted(){
			this.getSchedule()
			this.getRoute()
			this.getTransportation()
		},
		methods: {
			getSchedule(){
				this.isLoading = true
				http.get("admin/schedule/detail/" + this.$route.params.id)
				.then((res) => {
					this.schedule = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.statu == 404) {
							console.log("Data not found")
						}
					}
					this.isLoading = false
				})
			},
			getRoute(){
				this.isLoading = true
				http.get("admin/route/get/all")
				.then((res) => {
					this.listRoutes = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					console.log(err)
					this.isLoading = false
				})
			},
			getTransportation(){
				this.isLoading = true
				http.get("admin/transportation/get/all")
				.then((res) => {
					this.listTransportations.train = res.data.data.train
					this.listTransportations.plane = res.data.data.plane
					this.isLoading = false
				})
				.catch((err) => {
					console.log(err)
					this.isLoading = false
				})
			},
			onUpdateSchedule(){
				this.isLoading = true
				http.post("admin/schedule/update/" + this.$route.params.id, this.schedule)
				.then((res) => {
					this.isLoading = false
					this.$router.push({name: 'admin.schedule'})
					this.notifySuccess("Jadwal berhasil diupdate")
				})
				.catch((err) => {
					console.log(err)
					this.isLoading = false
					this.notifyError("Ada masalah dari backend")
				})
			},
			notifySuccess(msg){
	            this.$snotify.success(msg, "Successfully", {
	                timeout: 4000,
	                showProgressBar: true,
	                closeOnClick: false,
	                pauseOnHover: true
	            })
	        },
	        notifyError(msg){
	            this.$snotify.error(msg, "Error",{
	                timeout: 4000,
	                showProgressBar: true,
	                closeOnClick: false,
	                pauseOnHover: true
	            })
	        }
		}
	}
</script>