<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/argon.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/admin/argon.min.css">
    <link href="<%= BASE_URL %>vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="<%= BASE_URL %>vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/style.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-snotify@3.2.1/styles/material.css">
    <title>ticketing-ukk</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ticketing-ukk doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="<%= BASE_URL %>vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="<%= BASE_URL %>js/vue-select.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/argon.min.js"></script>
  </body>
</html>
