<template>
	<div>
		<div class="position-relative">
			<!-- shape Hero -->
			<section class="section section-lg section-shaped pb-250">
				<div class="shape shape-style-1 shape-default">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="container py-lg-md d-flex">
					<div class="col px-0">
						<div class="row">
							<div class="col-lg-6">
								<h1 class="display-3  text-white">KEMANA-MANA
									<span>Pesan tiket pesawat atau kereta dengan mudah</span>
								</h1>
								<p class="lead  text-white">Kemana mana adalah aplikasi Ticketing kereta api dan pesawat online, dibangun menggunakan Framework front-end Vuejs, dan back-end Lumen 5.7.</p>
								<div class="btn-wrapper">
									<router-link v-if="isAuthenticated == false" :to="{name: 'login'}" class="btn btn-primary btn-icon mb-3 mb-sm-0">
										<span class="btn-inner--icon"><i class="fa fa-code"></i></span>
										<span class="btn-inner--text">Mulai pesan tiket</span>
									</router-link>
									<router-link v-if="isAuthenticated" :to="{name: 'user.dashboard'}" class="btn btn-primary btn-icon mb-3 mb-sm-0">
										<span class="btn-inner--icon"><i class="fa fa-code"></i></span>
										<span class="btn-inner--text">Mulai pesan tiket</span>
									</router-link>
									<router-link v-if="isAuthenticated == false" :to="{name: 'register'}" class="btn btn-white btn-icon mb-3 mb-sm-0">
										<span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
										<span class="btn-inner--text">Atau buat akun</span>
									</router-link>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- SVG separator -->
				<div class="separator separator-bottom separator-skew">
					<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
						<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
					</svg>
				</div>
			</section>
			<!-- 1st Hero Variation -->
		</div>
	</div>
</template>
<script>
	import Navbar from '@/components/Navbar.vue'
	import http from '../http'
	export default {
		name : 'Home',
		data(){
			return {
				isAuthenticated: false
			}
		},
		mounted(){
			if (localStorage.getItem("api_key")) {
                http.post("auth/check", {
                    apiKey : localStorage.getItem("api_key")
                })
                .then((res) => {
                    this.isAuthenticated = true
                })
                .catch((err) => {
                    if (err.response) {
                        if (err.response.status == 500) {
                            console.log("something went wrong from backend")
                            this.$snotify.error("something went wrong from backend", "Error",{
                                timeout: 4000,
                                showProgressBar: true,
                                closeOnClick: false,
                                pauseOnHover: true
                            })
                        }else if (err.response.status == 403) {
                            this.isAuthenticated = false
                        }
                    }
                    this.isAuthenticated = false
                })
            }else{
                this.isAuthenticated = false
            }
		}
	}
</script>