<template>
	<div>
		<Sidenav></Sidenav>
		<div class="main-content">
			<NavbarAdmin></NavbarAdmin>
			<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
				
			</div>
			<div class="container-fluid mt--7" style="z-index:0">
				<!-- Table -->
				<div class="row">
					<div class="col-md-8 col-12">
						<div class="card shadow">
							<div class="card-header border-0">
								<h3 class="mb-0">List Pemesan</h3>
							</div>
							<div class="card-body">
								<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
								<div class="row">
									<div class="col-md-4">
										<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Dari Lokasi</h4>
										<h3>{{ booking.schedule.route.from_place }}</h3>
									</div>
									<div class="col-md-4">
										<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Ke Lokasi</h4>
										<h3>{{ booking.schedule.route.to_place }}</h3>
									</div>
									<div class="col-md-4">
										<h4 class="text-muted"><i class="ni ni-tag mr-2"></i>Kode Pememsanan</h4>
										<qrcode :value="booking.code" :options="{ width: 160 }"></qrcode>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-3">
										<h4 class="text-muted"><i class="ni ni-bus-front-12 mr-2"></i>{{ booking.schedule.transportation.type == "Train" ? "Kereta" : "Pesawat" }}</h4>
										<h3>{{ booking.schedule.transportation.name }}</h3>
									</div>
									<div class="col-md-3">
										<h4 class="text-muted">Total Harga</h4>
										<h2><span class="badge badge-primary">{{ currencyFormat(booking.price_total) }}</span></h2>
									</div>
									<div class="col-md-3">
										<h4 class="text-muted">Pergi</h4>
										<h3>{{ convertTime(booking.schedule.departure_time) }}</h3>
									</div>
									<div class="col-md-3">
										<h4 class="text-muted">Sampai</h4>
										<h3>{{ convertTime(booking.schedule.arrived_time) }}</h3>
									</div>
								</div>
								<hr>
								<ul class="list-group mt-2">
									<li v-for="item,key in booking.passanger" class="list-group-item list-group-item-action">
										<div class="d-flex w-100 justify-content-between">
											<h3 class="mb-1">{{ item.title }}.{{ item.fullname }}</h3>
											<router-link v-if="booking.status == 1" :to="{name:'user.ticket.detail', params:{code:item.id}}" class="btn btn-primary btn-sm">Lihat Tiket</router-link>
										</div>
										<p class="mb-1">{{ item.phone }}</p>
										<h4 class="text-danger">{{ item.email }}</h4>
										<h5 class="text-warning text-bold">Posisi bangku : {{ item.seat.seat + item.seat.number }}</h5>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-12 order-xl-2 mb-5 mb-xl-0">
						<div class="card card-profile shadow">
							<div class="row justify-content-center">
								<div class="col-lg-3 order-lg-2">
									<div class="card-profile-image">
										<a href="#">
											<img :src="booking.user.avatar" class="rounded-circle">
										</a>
									</div>
								</div>
							</div>
							<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
								<div class="d-flex justify-content-between">
									<a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
									<a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
								</div>
							</div>
							<div class="card-body pt-0 pt-md-4">
								<div class="text-center mt-md-5">
									<h3>
										{{ booking.user.first_name + " " + booking.user.last_name }}
									</h3>
									<div class="h5 font-weight-300">
										<i class="ni location_pin mr-2"></i>{{ booking.user.phone }}
									</div>
									<div>
										<i class="ni education_hat mr-2"></i>{{ booking.user.email }}
									</div>
									<hr class="my-4" />
									<p>{{ booking.user.address }}.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<footer class="footer">
					<div class="row align-items-center justify-content-xl-between">
						<div class="col-xl-6">
							<div class="copyright text-center text-xl-left text-muted">
								&copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
							</div>
						</div>
						<div class="col-xl-6">
							<ul class="nav nav-footer justify-content-center justify-content-xl-end">
								<li class="nav-item">
									<a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
								</li>
								<li class="nav-item">
									<a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
								</li>
								<li class="nav-item">
									<a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
								</li>
								<li class="nav-item">
									<a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
								</li>
							</ul>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Sidenav from '@/components/Sidenav'
	import NavbarAdmin from '@/components/NavbarAdmin'
	import http from '../../../http'

	export default {
		name: "DetailBooking",
		components: {
			Sidenav, NavbarAdmin
		},
		data(){
			return {
				booking: {},
				isLoading: false
			}
		},
		mounted(){
			this.getDetailBooking()
		},
		methods:{
			getDetailBooking(){
				this.isLoading = true
				http.get("admin/booking/detail/" + this.$route.params.id)
				.then((res) => {
					this.booking = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 500) {
							console.log(err)
						}
					}
					this.isLoading = false
				})
			},
			convertTime(time){
				let splitTime = time.split(" ")[1]
				let subTime = splitTime.substring(0, 5)
				return subTime
			},
			currencyFormat(value){
				return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(value)
			}
		}
	}
</script>