<template>
	<div>
		<Sidenav></Sidenav>
		<!-- Main content -->
		<div class="main-content">
			<NavbarAdmin></NavbarAdmin>
			<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
				<div class="container-fluid">
					<h1 class="display-2 text-white">Daftar Pemesan</h1>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Export Data
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="http://localhost:9000/export/booking/pdf" target="_blank">PDF</a>
							<a class="dropdown-item" href="http://localhost:9000/export/booking/excel" target="_blank">Excel</a>
						</div>
					</div>

				</div>
			</div>
			<div class="container-fluid mt--7" style="z-index:0">
				<!-- Table -->
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<div class="card-header border-0">
								<h3 class="mb-0">List Pemesan</h3>
							</div>
							<div class="table-responsive">
								<table id="table1" class="table align-items-center table-flush">
									<thead class="thead-light">
										<tr>
											<th scope="col">Pemesanan</th>
											<th scope="col">Total harga</th>
											<th scope="col">Status</th>
											<th scope="col">Code</th>
											<th scope="col">Tanggal</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="item, key in booking.data">
											<th scope="row">
												<div class="media align-items-center">
													<a href="#" class="avatar avatar-sm mr-2">
														<img alt="Image placeholder" :src="item.user.avatar" class="rounded-circle">
													</a>
													<div class="media-body">
														<span class="mb-0 text-sm">{{ item.user.first_name + " " + item.user.last_name }}</span>
													</div>
												</div>
											</th>
											<td>
												{{ currencyFormat(item.price_total) }}
											</td>
											<td>
												<span class="badge badge-dot mr-4">
													<i :class="item.status == 2 ? 'bg-warning' : item.status == 1 ? 'bg-success' : item.status == 0 ? 'bg-secondary' : 'bg-default'"></i> {{ item.status == 2 ? "Belum dibayar" : item.status == 1 ? "Sudah dibayar" : item.status == 0 ? "Dibatalkan" : "Tidak diketahui" }}
												</span>
											</td>
											<td>
												<p class="font-weight-bold">{{ item.code }}</p>
											</td>
											<td>
												{{ item.created_at }}
											</td>
											<td class="text-right">
												<div class="dropdown">
													<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fas fa-ellipsis-v"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
														<router-link class="dropdown-item" :to="{name:'admin.booking.detail', params:{id:item.id}}">Lihat Detail</router-link>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer py-4">
								<nav aria-label="...">
									<ul class="pagination justify-content-end mb-0">
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">
												<i class="fas fa-angle-left"></i>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										<li class="page-item active">
											<a class="page-link" href="#">1</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
										</li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#">
												<i class="fas fa-angle-right"></i>
												<span class="sr-only">Next</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Sidenav from '@/components/Sidenav'
	import NavbarAdmin from '@/components/NavbarAdmin'
	import http from '../../../http'

	export default{
		name: "ListBooking",
		components:{
			Sidenav, NavbarAdmin
		},
		data(){
			return {
				booking: []
			}
		},
		mounted(){
			this.getBooking()
		},
		methods:{
			getBooking(){
				http.get("admin/booking/list")
				.then((res) => {
					this.booking = res.data.data
				})
				.catch((err) => {
					console.log(err)
				})
			},
			onExportPdf(){
				const FileDownload = require('js-file-download');
				http.get("test")
				.then((res) => {
					FileDownload(res.data, 'invoice.pdf')
					console.log(res.data)
				})
				.catch((err) => {
					console.log(err)
				})
			},
			currencyFormat(value){
				return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(value)
			}
		}
	}
</script>