<template>
	<div>
		<!-- Top navbar -->
		<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
			<div class="container-fluid">
				<!-- Brand -->
				<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">Dashboard</a>
				<!-- Form -->
				<form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
					<div class="form-group mb-0">
						<div class="input-group input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-search"></i></span>
							</div>
							<input class="form-control" placeholder="Search" type="text">
						</div>
					</div>
				</form>
				<!-- User -->
				<ul class="navbar-nav align-items-center d-none d-md-flex">
					<li class="nav-item dropdown">
						<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="media align-items-center">
								<span class="avatar avatar-sm rounded-circle">
									<img alt="Image placeholder" :src="user.avatar">
								</span>
								<div class="media-body ml-2 d-none d-lg-block">
									<span class="mb-0 text-sm  font-weight-bold">{{ user.first_name + " " + user.last_name }}</span>
								</div>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
							<div class=" dropdown-header noti-title">
								<h6 class="text-overflow m-0">Welcome!</h6>
							</div>
							<div class="dropdown-divider"></div>
							<a href="javascript:void(0)" class="dropdown-item" @click="onLogout">
								<i class="ni ni-user-run"></i>
								<span>Logout</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</template>

<script type="text/javascript">
    import http from '../http'
	export default{
		name: "NavbarAdmin",
		data(){
			return{
				user: {},
				isAuthenticated: false
			}
		},
		mounted(){
			if (localStorage.getItem("api_key")) {
                http.post("auth/check", {
                    apiKey : localStorage.getItem("api_key")
                })
                .then((res) => {
                	if (res.data.data.roles[0].name == "admin") {
                    	this.isAuthenticated = true
                    	this.user = res.data.data
                	}else{
                    	this.isAuthenticated = false
                    	this.$router.push({name:"login"})
                	}
                })
                .catch((err) => {
                    if (err.response) {
                        if (err.response.status == 500) {
                            console.log("something went wrong from backend")
                            this.$snotify.error("something went wrong from backend", "Error",{
                                timeout: 4000,
                                showProgressBar: true,
                                closeOnClick: false,
                                pauseOnHover: true
                            })
                        }else if (err.response.status == 403) {
                            this.isAuthenticated = false
                        }
                    }
                    this.isAuthenticated = false
                    this.$router.push({name:"login"})
                })
            }else{
                this.isAuthenticated = false
            }
		},
		methods: {
			onLogout(){
                http.get("auth/logout")
                .then((res) => {
                    console.log(res.data)
                    this.$router.push({name:"login"})
                })
                .catch((err) => {
                    console.log(err)
                })
            }
		}
	}
</script>