<template>
    <div>

        <div class="container-fluid mt-3">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded-3 shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Kemana-Mana</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <router-link class="nav-link" :to="{name:'user.dashboard'}">Home <span class="sr-only">(current)</span></router-link>
                            </li>
                            <li v-if="isAuthenticated" class="nav-item active">
                                <router-link class="nav-link btn btn-secondary text-dark font-weight-bold" :to="{name:'user.dashboard'}">Pesan Tiket</router-link>
                            </li>
                            <li v-if="isAuthenticated" class="nav-item">
                                <router-link class="nav-link" :to="{name:'user.booking'}">Pesanan</router-link>
                            </li>
                            <li v-if="isAuthenticated" class="nav-item">
                                <a class="nav-link" href="javascript:void(0)" @click="onLogout">Logout</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <router-link v-if="isAuthenticated == false" :to="{name: 'register'}" class="btn btn-secondary">Register</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</template>

<script type="text/javascript">
    import http from '../http'
    export default{
        name: "Navbar",
        data(){
            return {
                isAuthenticated : false
            }
        },
        mounted(){
            if (localStorage.getItem("api_key")) {
                http.post("auth/check", {
                    apiKey : localStorage.getItem("api_key")
                })
                .then((res) => {
                    this.isAuthenticated = true
                })
                .catch((err) => {
                    if (err.response) {
                        if (err.response.status == 500) {
                            console.log("something went wrong from backend")
                            this.$snotify.error("something went wrong from backend", "Error",{
                                timeout: 4000,
                                showProgressBar: true,
                                closeOnClick: false,
                                pauseOnHover: true
                            })
                        }else if (err.response.status == 403) {
                            this.isAuthenticated = false
                        }
                    }
                    this.isAuthenticated = false
                })
            }else{
                this.isAuthenticated = false
            }
        },
        methods:{
            onLogout(){
                http.get("auth/logout")
                .then((res) => {
                    console.log(res.data)
                    this.$router.push({name:"login"})
                })
                .catch((err) => {
                    console.log(err)
                })
            }
        }
    }
</script>