<template>
	<div>
		<Sidenav></Sidenav>
		<!-- Main content -->
		<div class="main-content">
			<NavbarAdmin></NavbarAdmin>
			<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
				<!-- Mask -->
				<span class="mask bg-gradient-default opacity-8"></span>
				<!-- Header container -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<h1 class="display-2 text-white">Hello {{ user.first_name + " " + user.last_name }}</h1>
							<p class="text-white mt-0 mb-5">Manage bisnis Ticketing mu disini!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	
	import Sidenav from '@/components/Sidenav'
	import NavbarAdmin from '@/components/NavbarAdmin'
	import http from '../../http'

	export default {
		name: 'Dashboard',
		components: {
			Sidenav, NavbarAdmin
		},
		data(){
			return{
				user:{}
			}
		},
		mounted(){
			this.getUser()
		},
		methods: {
			getUser(){
				http.get("user/profile")
				.then((res) => {
					this.user = res.data.data
				})
				.catch((err) => {
					console.log(err)
				})
			},
		}
	}
</script>