<template>
	<div>
		<Navbar></Navbar>
		<div class="container">
			<h1 class="display-2 mt-5">Pesanan kamu!</h1>
			<p>Disini tempat pesanan tiketmu.</p>
			<div class="row mt-2">
				<div class="col-md-3">
					<div class="nav-wrapper">
					    <ul class="nav nav-pills nav-fill flex-column" id="tabs-icons-text" role="tablist">
					    	<li class="nav-item" style="padding-right: 0;">
					    		<a class="nav-link mb-sm-3 mb-md-3 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-cloud-upload-96 mr-2"></i>Belum Dibayar</a>
					    	</li>
					    	<li class="nav-item" style="padding-right: 0;">
					    		<a class="nav-link mb-sm-3 mb-md-3" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bell-55 mr-2"></i>Sudah Dibayar</a>
					    	</li>
					    </ul>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card shadow">
						<div class="card-body">
							<div class="tab-content" id="myTabContent">
								<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
								<div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
									<h2 class="text-muted">Pesanan yang belum dibayar</h2>
									<div v-for="item, key in bookingWaiting" class="list-group mt-4">
										<router-link :to="{name:'user.booking.detail', params:{id:item.id}}" class="list-group-item list-group-item-action">
											<div class="row">
												<div class="col-md-4 col-12">
													<h3 class="mb-1">{{ item.schedule.transportation.name }}</h3>
												</div>
												<div class="col-md-4 col-4 text-center">
													<h4 class="text-warning">Pergi</h4>
													<h3>21:30</h3>
												</div>
												<div class="col-md-4 col-4 text-center">
													<h4 class="text-warning">Tiba</h4>
													<h3>23:00</h3>
												</div>
											</div>
											<p class="mb-1 font-weight-bold">{{ item.schedule.transportation.category.name }}</p>
											<p class="mb-1">{{ item.schedule.transportation.type == "Train" ? "Kereta" : "Pesawat" }}</p>
											<h2><span class="badge badge-primary">Rp. {{ item.price_total }}</span></h2>
											<small>{{ item.created_at }}</small>
										</router-link>
									</div>
								</div>
								<div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
									<h2 class="text-muted">Pesanan yang sudah dibayar</h2>
									<div v-for="item, key in bookingPaid" class="list-group mt-4">
										<router-link :to="{name:'user.booking.detail', params:{id:item.id}}" class="list-group-item list-group-item-action">
											<div class="row">
												<div class="col-md-4 col-12">
													<h3 class="mb-1">{{ item.schedule.transportation.name }}</h3>
												</div>
												<div class="col-md-4 col-4 text-center">
													<h4 class="text-warning">Pergi</h4>
													<h3>21:30</h3>
												</div>
												<div class="col-md-4 col-4 text-center">
													<h4 class="text-warning">Tiba</h4>
													<h3>23:00</h3>
												</div>
											</div>
											<p class="mb-1 font-weight-bold">{{ item.schedule.transportation.category.name }}</p>
											<p class="mb-1">{{ item.schedule.transportation.type == "Train" ? "Kereta" : "Pesawat" }}</p>
											<h2><span class="badge badge-primary">Rp. {{ item.price_total }}</span></h2>
											<small>{{ item.created_at }}</small>
										</router-link>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Navbar from "@/components/Navbar"
	import http from "../../../http"

	export default {
		name: "Booking",
		components: {
			Navbar
		},
		data(){
			return {
				bookingPaid: {},
				bookingWaiting: {},
				isLoading: false
			}
		},
		mounted(){
			this.getBookingWaiting();
			this.getBookingPaid();
		},
		methods: {
			getBookingPaid(){
				this.isLoading = true
				http.get("user/booking/paid/list")
				.then((res) => {
					this.bookingPaid = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 500) {
							console.log(err.response.message)
						}
					}
					this.isLoading = false
				})
			},
			getBookingWaiting(){
				this.isLoading = true
				http.get("user/booking/waiting/list")
				.then((res) => {
					this.bookingWaiting = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 500) {
							console.log(err.response.message)
						}
					}
					this.isLoading = false
				})
			}
		}
	}
</script>