<template>
	<div>
		<Navbar></Navbar>
		<div class="container mt-5">
			
			<div class="d-flex flex-row">
				<div class="mr-auto">
					<router-link :to="{name:'user.booking'}" class="btn btn-default"><i class="ni ni-bold-left mr-2"></i>Kembali</router-link>
				</div>
				<div class="ml-auto">
					<button v-if="booking.status == 2" @click="showModalConfirm" class="btn btn-success"><i class="ni ni-check-bold mr-2"></i>Bayar Pesananan</button>
				</div>
			</div>
			
			<h2 class="mt-4">Status : <span :class="booking.status == 2 ? 'badge badge-warning' : 
				booking.status == 1 ? 'badge badge-success' : 
				booking.status == 0 ? 'badge badge-danger' : 'badge badge-secondary'">
					{{ 
						booking.status == 2 ? "Belum dibayar" : 
						booking.status == 1 ? "Sudah dibayar" :
						booking.status == 0 ? "Dibatalkan" : "tidak diketahui"
					}}
				</span></h2>

			<div class="card shadow mt-1 mb-5">
				<div class="card-body">
					<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
					<div class="row">
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Dari Lokasi</h4>
							<h3>{{ booking.schedule.route.from_place }}</h3>
						</div>
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Ke Lokasi</h4>
							<h3>{{ booking.schedule.route.to_place }}</h3>
						</div>
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-tag mr-2"></i>Kode Pememsanan</h4>
							<qrcode :value="booking.code" :options="{ width: 160 }"></qrcode>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-3">
							<h4 class="text-muted"><i class="ni ni-bus-front-12 mr-2"></i>{{ booking.schedule.transportation.type == "Train" ? "Kereta" : "Pesawat" }}</h4>
							<h3>{{ booking.schedule.transportation.name }}</h3>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Total Harga</h4>
							<h2><span class="badge badge-primary">{{ currencyFormat(booking.price_total) }}</span></h2>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Pergi</h4>
							<h3>{{ convertTime(booking.schedule.departure_time) }}</h3>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Sampai</h4>
							<h3>{{ convertTime(booking.schedule.arrived_time) }}</h3>
						</div>
					</div>
					<hr>
					<ul class="list-group mt-2">
						<li v-for="item,key in booking.passanger" class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<h3 class="mb-1">{{ item.title }}.{{ item.fullname }}</h3>
								<router-link v-if="booking.status == 1" :to="{name:'user.ticket.detail', params:{code:item.id}}" class="btn btn-primary btn-sm">Lihat Tiket</router-link>
							</div>
							<p class="mb-1">{{ item.phone }}</p>
							<h4 class="text-danger">{{ item.email }}</h4>
							<h5 class="text-warning text-bold">Posisi bangku : {{ item.seat.seat + item.seat.number }}</h5>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- modal-->
		<div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
			<div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
				<div class="modal-content bg-gradient-success">

					<div class="modal-header">
						<h6 class="modal-title" id="modal-title-notification">BERHASIL!</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>

					<div class="modal-body">

						<div class="py-3 text-center">
							<i class="ni ni-check-bold ni-3x"></i>
							<h4 class="heading mt-4">BERHASIL DIBAYAR!</h4>
							<p>Pesanan tiket anda berhasil dibayar, sekarang anda dapat mencetak tiketnya.</p>
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Tutup.</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
			<div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
				<div class="modal-content bg-gradient-primary">

					<div class="modal-header">
						<h6 class="modal-title" id="modal-title-notification">BAYAR!</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>

					<div class="modal-body">

						<div class="py-3 text-center">
							<i class="ni ni-bell-55 ni-3x"></i>
							<h4 class="heading mt-4">Bayar sekarang?</h4>
							<p>Apakah anda ingin membayar sekarang ?.</p>
						</div>

					</div>

					<div class="modal-footer">
						<button @click="onPayOrder" type="button" class="btn btn-white">Ya, bayar</button>
						<button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Nanti.</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Navbar from '@/components/Navbar.vue'
	import http from '../../../http'

	export default {
		name: "DetailTicket",
		components: {
			Navbar
		},
		data(){
			return {
				booking: {},
				passanger: [],
				isLoading: false,
				isNotFound: false
			}
		},
		mounted(){
			this.getDetailBooking()
		},
		methods:{
			getDetailBooking(){
				this.isLoading = true
				http.get("user/booking/detail/" + this.$route.params.id)
				.then((res) => {
					this.booking = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 404) {
							this.isNotFound = true
							console.log("data not found")
						}
					}
					this.isLoading = false
				})
			},
			showModalConfirm(){
				$('#modal-confirm').modal('show')
			},
			onPayOrder(){
				$('#modal-confirm').modal('hide')
				http.get("user/booking/pay/" + this.$route.params.id)
				.then((res) => {
					$('#modal-success').modal('show')
					this.getDetailBooking()
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 500) {
							console.log(err)
						}
					}
				})
			},
			convertTime(time){
				let splitTime = time.split(" ")[1]
				let subTime = splitTime.substring(0, 5)
				return subTime
			},
			currencyFormat(value){
				return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(value)
			}
		}
	}
</script>