<template>
	<div>
		<Navbar></Navbar>
		<div class="container mt-5">
			<h1 class="display-2">Hi {{ user.first_name + " " + user.last_name }}!</h1>
			<p>Selamat datang kembali! mau kemana hari ini ? yuk mulai pesan tiket mu sekarang</p>

			<div class="nav-wrapper">
				<ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
					<li class="nav-item">
						<a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-square-pin mr-2"></i>1. Tentukan Keberangkatan</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bus-front-12 mr-2"></i>2. Jadwal Ticket</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="ni ni-circle-08 mr-2"></i>3. Informasi Penumpang</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-4" aria-selected="false"><i class="ni ni-credit-card mr-2"></i>4. Pembayaran</a>
					</li>
				</ul>
			</div>
			<div class="container mb-5">
				<div class="card shadow">
					<div class="card-body">
						<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
								<div class="form-row">
									<div class="form-group col">
										<label><i class="ni ni-square-pin mr-2"></i>Dari</label>
										<v-select :options="optionPlaces.from_place" class="w-100" v-model="orderTicket.fromPlace"></v-select>
									</div>
									<div class="form-group col">
										<label><i class="ni ni-square-pin mr-2"></i>Ke</label>
										<v-select :options="optionPlaces.to_place" class="w-100" v-model="orderTicket.toPlace"></v-select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label><i class="ni ni-calendar-grid-58 mr-2"></i>Pergi</label>
										<input type="date" class="form-control" v-model="orderTicket.departureTime">
									</div>
								</div>
								<div class="nav justify-content-end">
									<button @click="onSearchSchedule" class="btn btn-primary">Cari Jadwal</button>
								</div>
							</div>

							<div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
								<div class="nav-wrapper nav justify-content-center">
									<ul class="nav nav-pills nav-pills-circle" id="tabs_2" role="tablist">
										<li class="nav-item">
											<a class="nav-link rounded-circle active" id="train-tab" data-toggle="tab" href="#train" role="tab" aria-controls="home" aria-selected="true">
												<span class="nav-link-icon d-block"><i class="ni ni-bus-front-12"></i></span>
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="plane-tab" data-toggle="tab" href="#plane" role="tab" aria-controls="profile" aria-selected="false">
												<span class="nav-link-icon d-block"><i class="ni ni-send"></i></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="tab-content" id="tabTransportation">
									<div class="tab-pane fade show active" id="train" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
										<ul v-for="item, key in listTickets.schedule.train" class="list-group mt-4">
											<li class="list-group-item list-group-item-action">
												<div class="row">
													<div class="col-md-4 col-12">
														<h3 class="mb-1">{{ item.name }}</h3>
													</div>
													<div class="col-md-3 col-4 text-center">
														<h4 class="text-warning">Pergi</h4>
														<h3>{{ convertTime(item.departure_time) }}</h3>
													</div>
													<div class="col-md-3 col-4 text-center">
														<h4 class="text-warning">Tiba</h4>
														<h3>{{ convertTime(item.arrived_time) }}</h3>
													</div>
													<div class="col-md-2 col-12 mt-2 mb-2">
														<h4 class="text-default">Sisa 4 kursi</h4>
														<button @click="chooseSchedule(item.id, item.transportation_id)" class="btn btn-primary btn-sm">Pesan sekarang</button>
													</div>
												</div>
												<p class="mb-1">Ekonomi</p>
												<h2><span class="badge badge-primary">Rp. 100.000</span></h2>
											</li>
										</ul>
									</div>
									<div class="tab-pane fade" id="plane" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
										<ul v-for="item, key in listTickets.schedule.plane" class="list-group mt-4">
											<li class="list-group-item list-group-item-action">
												<div class="row">
													<div class="col-md-4 col-12">
														<h3 class="mb-1">{{ item.name }}</h3>
													</div>
													<div class="col-md-3 col-4 text-center">
														<h4 class="text-warning">Pergi</h4>
														<h3>{{ convertTime(item.departure_time) }}</h3>
													</div>
													<div class="col-md-3 col-4 text-center">
														<h4 class="text-warning">Tiba</h4>
														<h3>{{ convertTime(item.arrived_time) }}</h3>
													</div>
													<div class="col-md-2 col-12 mt-2 mb-2">
														<h4 class="text-default">Sisa 4 kursi</h4>
														<button @click="chooseSchedule(item.id, item.transportation_id)" class="btn btn-primary btn-sm">Pesan sekarang</button>
													</div>
												</div>
												<p class="mb-1">Ekonomi</p>
												<h2><span class="badge badge-primary">Rp. 100.000</span></h2>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
								<div class="container-fluid">
									<div class="row mb-4">
										<div class="col-md-6 col-12">
											<h3>Informasi Penumpang</h3>
										</div>
										<div class="col-md-6 col-12 nav justify-content-end">
											<button @click="addPassanger" class="btn btn-secondary mt-2">Tambah Penumpang</button>
											<button @click="showModalConfirmBookSchedule" class="btn btn-primary mt-2">Pesan Tiket</button>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col">
											<label>Nama Lengkap</label>
											<input type="text" :class="errors.fullname ? 'form-control is-invalid' : 'form-control'" v-model="passanger.fullname">
											<span v-if="errors.fullname" class="text-danger">Nama lengkap wajib diisi</span>
										</div>
										<div class="form-group col">
											<label>Titel</label>
											<select :class="errors.title ? 'form-control is-invalid' : 'form-control'" v-model="passanger.title">
												<option>Tuan</option>
												<option>Nyonya</option>
											</select>
											<span v-if="errors.title" class="text-danger">Titel wajib diisi</span>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col">
											<label>Email</label>
											<input type="email" :class="errors.email ? 'form-control is-invalid' : 'form-control'" v-model="passanger.email">
											<span v-if="errors.email" class="text-danger">Email wajib diisi</span>
										</div>
										<div class="form-group col">
											<label>Phone</label>
											<input type="number" :class="errors.phone ? 'form-control is-invalid' : 'form-control'" v-model="passanger.phone">
											<span v-if="errors.phone" class="text-danger">Telepon wajib diisi</span>
										</div>
									</div>
									<span v-if="errors.seatId" class="text-danger">Bangku wajib diisi</span>
									<button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseSeat" aria-expanded="false" aria-controls="collapseExample">
										Pilih Tempat Duduk
									</button>
									<div class="collapse mt-4" id="collapseSeat">
										<div class="row">
											<div class="col-md-6 col-6">
												<div class="row">
													<div class="col-md-6">
														<div v-for="item,key in listSeat.seat_a" class="mt-1">
															<div class="form-group nav justify-content-end">
																<div class="custom-control custom-radio mb-1">
																	<input class="custom-control-input" :id="item.seat + item.number" type="radio" :value="{seatId: item.id, seatCode: item.seat + item.number}" v-model="passanger.seat">
																	<label class="custom-control-label" :for="item.seat + item.number">{{ item.seat + item.number }}</label>
																</div>
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div v-for="item,key in listSeat.seat_b" class="mt-1">
															<div class="form-group nav justify-content-start">
																<div class="custom-control custom-radio mb-1">
																	<input class="custom-control-input" :id="item.seat + item.number" type="radio" :value="{seatId: item.id, seatCode: item.seat + item.number}" v-model="passanger.seat">
																	<label class="custom-control-label" :for="item.seat + item.number">{{ item.seat + item.number }}</label>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-6">
												<div class="row">
													<div class="col-md-6">
														<div v-for="item,key in listSeat.seat_c" class="mt-1">
															<div class="form-group nav justify-content-end">
																<div class="custom-control custom-radio mb-1">
																	<input name="rdoSeat" class="custom-control-input" :id="item.seat + item.number" type="radio" :value="{seatId: item.id, seatCode: item.seat + item.number}" v-model="passanger.seat">
																	<label class="custom-control-label" :for="item.seat + item.number">{{ item.seat + item.number }}</label>
																</div>
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div v-for="item,key in listSeat.seat_d" class="mt-1">
															<div class="form-group nav justify-content-start">
																<div class="custom-control custom-radio mb-1">
																	<input name="rdoSeat" class="custom-control-input" :id="item.seat + item.number" type="radio" :value="{seatId: item.id, seatCode: item.seat + item.number}" v-model="passanger.seat">
																	<label class="custom-control-label" :for="item.seat + item.number">{{ item.seat + item.number }}</label>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<h3 class="mt-4">Daftar Penumpang</h3>
									<div class="list-group mt-2">
										<a v-for="item, key in orderTicket.passangers" href="javascript:void(0)" class="list-group-item list-group-item-action">
											<div class="d-flex w-100 justify-content-between">
												<h3 class="mb-1">{{ item.title }}. {{ item.fullname }}</h3>
												<small class="text-muted">Posisi bangku : {{ item.seatCode }}</small>
											</div>
											<p class="mb-1">{{ item.phone }}</p>
											<small class="text-muted">{{ item.email }}</small>
										</a>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
								<div v-if="!resultBooking.schedule" class="text-center">
									<h4 class="display-3">Opps!!</h4>
									<img src="/img/icons/common/choices.png" class="mt-2" style="width:120px;height:120px">
									<p class="mt-3">Kamu belum memesan jadwal apa pun.</p>
									<button class="btn btn-primary" @click="showStep1">Mulai Pesan</button>
								</div>
								<div v-if="resultBooking.schedule" class="row">
									<div class="col-md-4">
										<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Dari Lokasi</h4>
										<h3>{{ resultBooking.schedule.route.from_place }}</h3>
									</div>
									<div class="col-md-4">
										<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Ke Lokasi</h4>
										<h3>{{ resultBooking.schedule.route.to_place }}</h3>
									</div>
									<div class="col-md-4">
										<h4 class="text-muted"><i class="ni ni-tag mr-2"></i>Kode pembayaran</h4>
										<h1 class="display-2">{{ resultBooking.booking.code }}</h1>
										<button @click="onPayOrder" class="btn btn-primary">Klik untuk bayar</button>
									</div>
								</div>
								<hr v-if="resultBooking.schedule">
								<div v-if="resultBooking.schedule" class="row">
									<div class="col-md-3">
										<h4 class="text-muted"><i class="ni ni-bus-front-12 mr-2"></i>Kereta</h4>
										<h3>{{ resultBooking.schedule.transportation.name }}</h3>
									</div>
									<div class="col-md-3">
										<h4 class="text-muted">Total Harga</h4>
										<h2><span class="badge badge-primary">Rp. {{ resultBooking.booking.price_total }}</span></h2>
									</div>
									<div class="col-md-3">
										<h4 class="text-muted">Pergi</h4>
										<h3>{{ convertTime(resultBooking.schedule.departure_time) }}</h3>
									</div>
									<div class="col-md-3">
										<h4 class="text-muted">Sampai</h4>
										<h3>{{ convertTime(resultBooking.schedule.arrived_time) }}</h3>
									</div>
								</div>
								<hr v-if="resultBooking.schedule">
								<h4 v-if="resultBooking.schedule" class="text-muted"><i class="ni ni-circle-08 mr-2"></i>Daftar Penumpang</h4>
								<div v-if="resultBooking.schedule" class="list-group mt-2">
									<a v-for="item, key in orderTicket.passangers" href="javascript:void(0)" class="list-group-item list-group-item-action">
										<div class="d-flex w-100 justify-content-between">
											<h3 class="mb-1">{{ item.title }}. {{ item.fullname }}</h3>
											<small class="text-muted">Posisi bangku : {{ item.seatCode }}</small>
										</div>
										<p class="mb-1">{{ item.phone }}</p>
										<small class="text-muted">{{ item.email }}</small>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- modal -->
		<div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
			<div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
				<div class="modal-content bg-gradient-primary">

					<div class="modal-header">
						<h6 class="modal-title" id="modal-title-notification">PERHATIAN!!</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>

					<div class="modal-body">

						<div class="py-3 text-center">
							<i class="ni ni-bell-55 ni-3x"></i>
							<h4 class="heading mt-4">Cek kembali!</h4>
							<p>Apakah informasi penumpang sudah benar ?.</p>
						</div>

					</div>

					<div class="modal-footer">
						<button @click="onBookSchedule" type="button" class="btn btn-white">Ya, sudah</button>
						<button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Belum.</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import Navbar from '@/components/Navbar.vue'
	import http from '../../http'

	export default{
		name: 'Dashboard',
		components: {
			Navbar,
		},
		data(){
			return {
				user:{},
				optionPlaces: {},
				orderTicket: {
					scheduleId: "",
					passangers: []
				},
				passanger:{
					fullname:'',
					title: '',
					email: '',
					phone: '',
					seat: {
						seatId: ''
					}
				},
				listTickets: {
					schedule: {
						train: [],
						plane: []
					}
				},
				listSeat: [],
				resultBooking: {},
				isLoading: false,
				errors: {}
			}
		},
		mounted(){
			$('.datepicker').datepicker()

			this.getUser()
			this.getAvaibleRoute()
		},
		methods:{
			getUser(){
				http.get("user/profile")
				.then((res) => {
					this.user = res.data.data
				})
				.catch((err) => {
					console.log(err)
				})
			},
			getAvaibleRoute(){
				this.isLoading = true
				http.get("user/route/avaible")
				.then((res) => {
					this.isLoading = false
					this.optionPlaces = res.data.data
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 500) {
							console.log("something went wrong from backend")
						}
					}
					this.isLoading = false
				})
			},
			onSearchSchedule(){
				this.isLoading = true
				http.post("user/schedule/find", {
					from_place : this.orderTicket.fromPlace,
					to_place : this.orderTicket.toPlace,
					departure_time : this.orderTicket.departureTime
				})
				.then((res) => {
					this.isLoading = false
					this.listTickets.schedule.train = res.data.data.schedule.train
					this.listTickets.schedule.plane = res.data.data.schedule.plane
				})
				.catch((err) => {
					this.isLoading = false
					console.log(err)
				})
				$('#tabs-icons-text-2-tab').tab('show')
			},
			chooseSchedule(scheduleId, transportationId){
				this.orderTicket.scheduleId = scheduleId
				this.getSeat(transportationId)
				$('#tabs-icons-text-3-tab').tab('show')
			},
			getSeat(transportationId){
				this.isLoading = true
				http.get("user/seat/get/" + transportationId)
				.then((res) => {
					this.listSeat = res.data.data
					this.isLoading = false
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 500) {
							console.log(err)
						}
					}
					this.isLoading = false
				})
			},
			addPassanger(){
				this.isLoading = true
				this.errors = {}
				http.post("user/schedule/validate/input", {
					fullname: this.passanger.fullname,
					title: this.passanger.title,
					email: this.passanger.email,
					phone: this.passanger.phone,
					seatId: this.passanger.seat.seatId
				})
				.then((res) => {
					this.orderTicket.passangers.push({
						fullname: this.passanger.fullname,
						title: this.passanger.title,
						email: this.passanger.email,
						phone: this.passanger.phone,
						seatId: this.passanger.seat.seatId,
						seatCode: this.passanger.seat.seatCode
					})
					console.log(res.data)
					this.passanger = {}
					this.isLoading = false
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 422) {
							this.errors = err.response.data
						}
					}
					this.isLoading = false
				})
			},
			showModalConfirmBookSchedule(){
				$("#modal-notification").modal("show")
			},
			onBookSchedule(){
				$("#modal-notification").modal("hide")
				this.isLoading = true
				http.post("user/schedule/book", this.orderTicket)
				.then((res) => {
					this.isLoading = false
					this.resultBooking = res.data.data
					console.log(res.data.data)
					$("#tabs-icons-text-4-tab").tab("show")
				})
				.catch((err) => {
					this.isLoading = false
					if (err.response) {
						if (err.response.status == 500) {
							console.log(err.response);
						}
					}
				})
			},
			onPayOrder(){
				this.$router.push({name:"user.booking.detail", params:{id:this.resultBooking.booking.id}})
			},
			convertTime(time){
				let splitTime = time.split(" ")[1]
				let subTime = splitTime.substring(0, 5)
				return subTime
			},
			calcTime(departureTime, arrivedTime){
				let splitDepartureTime = departureTime.split(" ")[1]
				let hourDepartureTime = splitDepartureTime.split(":")[0]

				let splitArrivedTime = arrivedTime.split(" ")[1]
				let hourArrivedTime = splitArrivedTime.split(":")[0]

				return hourArrivedTime - hourDepartureTime
			},
			showStep1(){
				$("#tabs-icons-text-1-tab").tab("show")
			}
		}
	}
</script>