<template>
	<div>
		<div class="container-fluid mt-4 mb-7">
			
			<div class="d-flex flex-row">
				<div class="mr-auto">
					<button @click="back" class="btn btn-default"><i class="ni ni-bold-left mr-2"></i>Kembali</button>
				</div>
				<div class="ml-auto">
					<button @click="onExportPdf" class="btn btn-success">Cetak Tiket</button>
				</div>
			</div>
		</div>


		<div id="ticket" class="container-fluid">
			<div id="header" class="row">
				<div class="col-md-6">
					<h1 class="text-primary">KEMANA - MANA</h1>
				</div>
				<div class="col-md-6">
					<h3>Tiket {{ ticket.booking.schedule.transportation.type == "Train" ? "Kereta" : "Pesawat" }}</h3>
				</div>
			</div>
			<div class="card shadow mt-4 mb-5">
				<div class="card-body">
					<vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
					<div class="row">
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Dari Lokasi</h4>
							<h3>{{ ticket.booking.schedule.route.from_place }}</h3>
						</div>
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Ke Lokasi</h4>
							<h3>{{ ticket.booking.schedule.route.to_place }}</h3>
						</div>
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-tag mr-2"></i>Kode Tiket</h4>
							<qrcode :value="ticket.code" :options="{ width: 160 }"></qrcode>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-3">
							<h4 class="text-muted"><i class="ni ni-bus-front-12 mr-2"></i>Kereta</h4>
							<h3>{{ ticket.booking.schedule.transportation.name }}</h3>
							<h3><span class="badge badge-success">{{ ticket.booking.schedule.transportation.category.name }}</span></h3>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Total Harga</h4>
							<h2><span class="badge badge-primary">{{ currencyFormat(ticket.booking.schedule.price) }}</span></h2>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Pergi</h4>
							<h3>{{ convertTime(ticket.booking.schedule.departure_time) }}</h3>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Sampai</h4>
							<h3>{{ convertTime(ticket.booking.schedule.arrived_time) }}</h3>
						</div>
					</div>
					<hr>
					<a href="javascript:void(0)" class="list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-between">
							<h3 class="mb-1">{{ ticket.passanger.title }}.{{ ticket.passanger.fullname }}</h3>
						</div>
						<p class="mb-1">{{ ticket.passanger.phone }}</p>
						<h4 class="text-danger">{{ ticket.passanger.email }}</h4>
						<h5 class="text-warning text-bold">Posisi bangku : A2</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import html2canvas from 'html2canvas';
	import http from '../../../http'
	import jsPDF from 'jspdf'

	export default {
		name: "DetailTicket",
		data(){
			return {
				ticket: {},
				isLoading: false,
				isNotFound: false
			}
		},
		mounted(){
			this.getTicketByPassangerId()
		},
		methods:{
			getTicketByPassangerId(){
				this.isLoading = true
				http.get("user/ticket/detail/by/passanger/" + this.$route.params.id)
				.then((res) => {
					if (res.data.status == 200) {
						this.ticket = res.data.data
						this.isLoading = false
					}else if (res.data.status == 404) {
						this.isNotFound = true
					}else if (res.data.message == "CANCELED") {
						this.$router.back()
					}
				})
				.catch((err) => {
					if (err.response) {
						if (err.response.status == 304) {
							console.log("Pesanan tiket belum dibayar")
						}
					}
					this.isLoading = false
				})
			},
			onExportPdf(){
				html2canvas(document.getElementById('ticket')).then(function(imgData) {
					let pdf = new jsPDF("landscape");
					pdf.addImage(imgData, 'PNG', 5, 10, 350, 170)

					pdf.save("ticket.pdf")
				});
				
			},
			convertTime(time){
				let splitTime = time.split(" ")[1]
				let subTime = splitTime.substring(0, 5)
				return subTime
			},
			currencyFormat(value){
				return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(value)
			},
			back(){
				this.$router.back()
			}
		}
	}
</script>