<template>
	<div>
		<div class="container-fluid mt-4 mb-7 nav justify-content-center">
			<button @click="onExportPdf" class="btn btn-default">MULAI EXPORT</button>
		</div>
		<div id="ticket">
			<div id="header" class="row">
				<div class="col-md-6">
					<h1 class="text-primary">KEMANA - MANA</h1>
				</div>
				<div class="col-md-6">
					<h3>Tiket Kereta</h3>
				</div>
			</div>
			<div class="card shadow mt-4 mb-5">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Dari Lokasi</h4>
							<h3>Stasiun Duri Angke</h3>
						</div>
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-pin-3 mr-2"></i>Ke Lokasi</h4>
							<h3>Stasiun Pocin</h3>
						</div>
						<div class="col-md-4">
							<h4 class="text-muted"><i class="ni ni-tag mr-2"></i>Kode Tiket</h4>
							<qrcode value="FAHRIANSYAH" :options="{ width: 160 }"></qrcode>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-3">
							<h4 class="text-muted"><i class="ni ni-bus-front-12 mr-2"></i>Kereta</h4>
							<h3>Argo Bromo</h3>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Total Harga</h4>
							<h2><span class="badge badge-primary">Rp. 100.000</span></h2>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Pergi</h4>
							<h3>23:00</h3>
						</div>
						<div class="col-md-3">
							<h4 class="text-muted">Sampai</h4>
							<h3>23:00</h3>
						</div>
					</div>
					<hr>
					<a href="javascript:void(0)" class="list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-between">
							<h3 class="mb-1">Tuan.Fahriansyah</h3>
						</div>
						<p class="mb-1">08345354</p>
						<h4 class="text-danger">fahriansyah@gmail.com</h4>
						<h5 class="text-warning text-bold">Posisi bangku : A2</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import html2canvas from 'html2canvas';
	import http from '../../../http'
	import jsPDF from 'jspdf'

	export default {
		name: "ExportPdf",
		data(){
			return {
				ticket: {}
			}
		},
		mounted(){
		},
		methods:{
			getTicket(){

			},
			onExportPdf(){
				html2canvas(document.getElementById('ticket')).then(function(imgData) {
					let pdf = new jsPDF("landscape");
					pdf.addImage(imgData, 'PNG', 5, 10, 350, 170)

					pdf.save("ticket.pdf")
				});
				
			}
		}
	}
</script>