<template>
    <div>
        <Navbar></Navbar>
        <div class="container">
            <div class="row justify-content-center pt-lg-md">
                <div class="col-lg-5">
                    <vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-leg-5">
                            
                            <div class="text-muted text-center mb-4">
                                <small>Sign in with credentials</small>
                            </div>

                            <div v-if="isCredentialValid == false" class="alert alert-danger" role="alert">
                                <span class="alert-inner--text"><strong>Email atau password salah!</strong> mohon cek kembali email dan password anda!</span>
                            </div>
                            
                            <form>
                                <div :class="errors.email ? 'form-group has-danger mb-3' : 'form-group mb-3'">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input type="email" :class="errors.email ? 'form-control text-warning' : 'form-control'" placeholder="Email" v-model="login.email">
                                    </div>
                                    <small v-if="errors.email" class="text-warning">{{ errors.email[0] }}</small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password" v-model="login.password">
                                    </div>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                    <label class="custom-control-label" for=" customCheckLogin">
                                        <span>Remember me</span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <button @click="sign" type="button" class="btn btn-primary my-4">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="#" class="text-light">
                            <small>Forgot password?</small>
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <router-link :to="{name:'register'}" class="text-light">
                            <small>Create new account</small>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import http from '../../http'
import Navbar from '@/components/Navbar.vue'

export default {
    name: "Login",
    components: {
        Navbar
    },
    data(){
        return {
            login: {
                email: '',
                password: ''
            },
            errors: {},
            isCredentialValid: true,
            isLoading: false
        }
    },
    mounted(){

    },
    methods: {
        sign(){
            this.resetNotification()
            http.post("auth/login", this.login)
            .then((res) => {
                this.$store.state.isAuthenticated = true
                this.$store.state.user.api_key = res.data.data.api_key
                this.$store.state.user.role = res.data.data.role[0]
                
                localStorage.setItem("api_key", res.data.data.api_key)
                localStorage.setItem("role", res.data.data.role[0])

                this.isLoading = false
                this.isCredentialValid = true

                if (res.data.data.role[0] == "user") {
                    window.location.href = "/u/dashboard"
                }else if (res.data.data.role[0] == "admin") {
                    window.location.href = "/a/dashboard"
                }
            })
            .catch((err) => {
                if (err.response) {
                    if (err.response.status == 500) {
                        if (err.response.data.message = "CREDENTIAL_NOT_VALID") {
                            this.isCredentialValid = false
                            this.notifyError("Email atau password salah")
                        }
                    }else if (err.response.status == 422) {
                        this.errors = err.response.data
                    }
                }
                this.isLoading = false
            })
        },
        resetNotification(){
            this.isLoading = true
            this.errors = ""
            this.isCredentialValid = true
        },
        notifySuccess(msg){
            this.$snotify.success(msg, "Successfully", {
                timeout: 4000,
                showProgressBar: true,
                closeOnClick: false,
                pauseOnHover: true
            })
        },
        notifyError(msg){
            this.$snotify.error(msg, "Error",{
                timeout: 4000,
                showProgressBar: true,
                closeOnClick: false,
                pauseOnHover: true
            })
        }
    }
}
</script>

