<template>
    <div>
        <Navbar></Navbar>
        <div class="container">
            <div class="row justify-content-center pt-lg-md">
                <div class="col-lg-5">
                    <vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-leg-5">
                            <div class="text-muted text-center mb-4">
                                <small>Register with credentials</small>
                            </div>
                            <form>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="First name" v-model="register.firstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Last name" v-model="register.lastName">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Email" v-model="register.email">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input type="number" class="form-control" placeholder="Phone" v-model="register.phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password" v-model="register.password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button @click="onRegister" type="button" class="btn btn-primary my-4">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="#" class="text-light">
                            <small>Forgot password?</small>
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="text-light">
                            <small>Login</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import http from '../../http'
import Navbar from '@/components/Navbar.vue'

export default {
    name: "Login",
    components: {
        Navbar
    },
    data(){
        return {
            register: {
                email: '',
                password: ''
            },
            isLoading: false
        }
    },
    mounted(){

    },
    methods: {
        onRegister(){
            this.isLoading = true
            http.post('auth/register', this.register)
            .then((res) => {
                console.log(res)
                this.isLoading = false
                this.$router.push({name:"login"})
                // this.notifySuccess("oke")
            })
            .catch((err) => {
                if (err.response) {
                    if (err.response.status == 500) {
                        console.log("something went wrong")
                    }
                }
                this.isLoading = false
            })
        },
        notifySuccess(msg){
            this.$snotify.success(msg, "Successfully", {
                timeout: 4000,
                showProgressBar: true,
                closeOnClick: false,
                pauseOnHover: true
            })
        },
        notifyError(msg){
            this.$snotify.error(msg, "Error",{
                timeout: 4000,
                showProgressBar: true,
                closeOnClick: false,
                pauseOnHover: true
            })
        }
    }
}
</script>

